<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .button {
            background-color: #1bdab1;
            border: none;
            color: black;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    <meta charset="UTF-8">
    <title>Manage Table</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container-fluid text-center">
    <div><h3 >Manage Table</h3></div>
    <div>
        <a class="button h6" th:href="@{'/cities/admin'}">ADMIN</a>
    </div>

    <div th:if="${message}" class="alert alert-success">
        [[${message}]]
    </div>
    <div class="m-2" style="overflow-x:auto;">
     <table class="table table-bordered " >
         <thead style="background-color:rgb(27, 218, 177);">
         <tr>
             <th>ID</th>
             <th>Name</th>
             <th>Address</th>
             <th>City</th>
             <th>Longitude</th>
             <th>Latitude</th>
             <th></th>
         </tr>

         </thead>
         <tbody>
         <th:block th:each="city : ${listCities}">
             <tr>
                 <td>[[${city.ID}]]</td>
                 <td>[[${city.name}]]</td>
                 <td>[[${city.address}]]</td>
                 <td>[[${city.city}]]</td>
                 <td>[[${city.longitude}]]</td>
                 <td>[[${city.latitude}]]</td>
                 <td>
                    <a class="h5 me-4 text-decoration-none col-form-label" th:href="@{'/cities/edit/' + ${city.ID}}" >Edit</a>
                    <a class="h5 text-decoration-none col-form-label" th:href="@{'/cities/delete/' + ${city.ID}}"
                    onclick="if (!(confirm('Are you sure you want to delete this record?')))return false ">Delete</a>
                 </td>
             </tr>
         </th:block>

         </tbody>
     </table>

    <div>
        <a class="h5 text-decoration-none" th:href="@{/cities/new}" >Create new location</a>
    </div>

    </div>

</div>



</body>
</html>